.index-container {
    background: url("https://i.pinimg.com/564x/94/eb/32/94eb3273dde226d07c08752b5d500266.jpg");
    background-size: auto;
}

.hours-container {
    background: url("https://i.pinimg.com/564x/00/a0/ad/00a0ad79d8c43da3931fe7a0e5ad3020.jpg");
    background-size: auto;
}

.contact-container {
    background: url("https://i.pinimg.com/564x/20/d0/1a/20d01a4b6fd6ac2dc4847671cd0326f8.jpg");
    background-size: auto;
}